<div class="forecast">

    <table width="230px" >
    <!-- current conditions -->
    <div class="current-conditions">
        <tr>
            <td>
                <span class="city"><a href="{{ weather_dict.location.wuiurl }}">{{ weather_dict.location.city }} , {{ weather_dict.location.country_name }}</a></span><br/>
                <span class="temp"> {{ weather_dict.current_observation.temp_c }} °C {{ weather_dict.current_observation.weather }}</span><br/>
                <span class="wind">Wind {{  weather_dict.current_observation.wind_kph }} kph from the {{ weather_dict.current_observation.wind_dir }}</span><br/>
                <span class="humidity">Humidity {{ weather_dict.current_observation.relative_humidity }}</span>
            </td>
            <td>
                <span class="icon"><img src="{{ weather_dict.current_observation.icon_url }}" /></span>
            </td>
        <tr>
    </div> 
    </table>
</div>