<div class="forecast">
    <!-- forecast information -->
    <div class="forecast-information">
        <span class="city">{{ weather_dict.location.city }} , {{ weather_dict.location.country_name }} </span>
    </div>
    <table width="230px" >    
    <!-- forecasts -->
    <div class="forecasts">

            <br/>
        {% for day in weather_dict.forecast.txt_forecast.forecastday %}

        <div class="forecast-day">
        <tr>

        <td>
            <span class="day"><B>{{ day.title }}</B></span><br/>
            <span class="condition">{{ day.fcttext_metric }}</span><br/>
        </td>
        <td>
            <span class="icon"><img src="{{ day.icon_url }}" /></span>
        </td>
        </div>
        
        {% endfor %}
    </div>
    </table>

</div>