{% include "header.html" %}
          <div id="content">
            <div id="left_column_610">
              <div id="connect_wrapper">
              <h1>Mailing List</h1>
                <p><a href="mailto:sydneyhockey-subscribe@yahoogroups.com?subject=subscribe&body=Hi! Please add me to your mailing list">Subscribe to our mailing list.</a></p>
                You must respond to the confirmation email from yahoo to complete the subscription process.
              </div>
                <div id="connect_wrapper">            
                    <a href="http://facebook.com/groups/sydneyinlinehockey/"><img src="images/facebook4.gif" border="0" /></a>
                </div>
            </div>
            <!--end column 1-->
            <div id="right_column_250">
                <div class="side_menu">
                    <div class="image"> <a href="http://twitter.com/inlinehockeysyd" target="_blank"><img src="images/general/twitter_220.png" alt="Twitter" width="220" height="41" border="0" /></a></div>
                    <p>Not sure of the weather, or what time everyone will get there. Follow <a href="http://twitter.com/inlinehockeysyd" target="_blank">inlinehockeysyd</a> on twitter.</p>
                 </div>
            </div>
            <!--end column 2-->
            <div class="clear"></div>
{% include "footer.html" %}
