{% include "header.html" %}
          <div id="content">
            <div id="left_column_610">
              <div id="connect_wrapper">
              <h1>Mailing List</h1>
                <p>Please use the form below to signup to Sydney Inline Hockey's mailing list.</p>
                    <form action="maillist.php" method="post">
                        <fieldset id="contact_no_map">
                            <label for="email">Email:</label>
                            <input name="email" type="text" class="forms_no_map" id="email" size="35" />
                            <div class="clear"></div>
                            <input name="submit_message" type="submit" id="submit_message" class="submit_button" value="Subscribe" />
                        </fieldset>
                    </form>
              </div>
            </div>
            <!--end column 1-->
            <div id="right_column_250">
                <div class="side_menu">
                    <div class="image"> <a href="http://twitter.com/inlinehockeysyd" target="_blank"><img src="images/general/twitter_220.png" alt="Twitter" width="220" height="41" border="0" /></a></div>
                    <p>Not sure of the weather, or what time everyone will get there. Follow <a href="http://twitter.com/inlinehockeysyd" target="_blank">inlinehockeysyd</a> on twitter.</p>
                 </div>
            </div>
            <!--end column 2-->
            <div class="clear"></div>
{% include "footer.html" %}
