{% include "header.html" %}

          <div id="content">
            <div id="left_column_610">
                <h1>Monday Night 7:30pm - 9:15pm</h1>
                <p>Monday night games are played under lights at Moore Park. Meet at 7:30pm to be on court by 7:45 and playing until 9:15pm, so please arrive before then so we can organise teams.</p>
                <p>We have coloured bibs, however if you don't feel like wearing those at least being a light and dark coloured top.</p>
                <p>Make sure that you have protective gear, we do have some spare gear that we can lend to people however please make contact with the mailing list before hand otherwise you might miss out.</p>
                <p>A helmet, stick and skates are essential, although we'd recommend everyone also wears knee and elbow pads along with some gloves. Please if you don't have all the gear let someone know before the night.</p>
                <p>Please remember again to being all your protective gear and water.</p>
                <!--<p><span style="font-weight:700">Note</span>: During daylight savings we start at 4pm otherwise we start at 3pm</p>-->
            </div>

            <div id="right_column_250">
                 <div class="side_menu">
                    <h2 style="background-position:120px 1px;">Equipment</h2>
                    <ul class="ticklist">
                      <li>Helmet</li>
                      <li>Skates</li>
                      <li>Hockey Stick</li>
                      <li>Gloves</li>
                      <li>Knee Pads</li>
                      <li>Elbow Pads</li>
                      <li>Water</li>
                    </ul>
                </div>
                <p>&nbsp;</p>
                <div class="image_right grunge_border_300"> <img src="images/general/monday-gear_300.jpg" width="300" height="200" alt="Protective Gear" /> </div>
            </div>
           </div>
{% include "footer.html" %}
