<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Sydney Inline Hockey</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css' />
<link href="css/nivo-slider.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="/favicon.ico"/>
<script type="text/javascript" src="js/jquery-1.4.2.min.js" language="javascript"></script>
<script type="text/javascript" src="js/jquery.tools.min.js" language="javascript"></script>
<script type="text/javascript" src="js/jquery.nivo.slider.js"></script>
<!--[if IE 6]>
	<script defer type="text/javascript" src="js/pngfix.js"></script>
	<![endif]-->
<!-- start lightbox code -->
<link rel="stylesheet" href="css/jquery.lightbox-0.5.css" type="text/css" />
<script type="text/javascript" src="js/jquery.lightbox-0.5.pack.js"></script>
<!-- end lightbox code -->
<script type="text/javascript" src="js/javascript.js"></script>
</head>
<body>
<div id="bg_top">
<div id="content_sides">
<div id="wrapper">
<div id="header">
  <div id="logo"><a href="index.html"><img src="images/logo.png" width="559" height="44" alt="Logo" border="0" /></a></div>
  <div id="header_weather">
    <div id="weather_margin">
        {% include "google_weather/weathercurrent.html" %}
    </div>
  </div>
</div>
<!--end header-->
<div id="content_sides_tile">
<div id="container">

<div id="menu">
  <ul id="navigation">
    <li><a href="index.html">Home</a></li>
    <li><a href="news.html">News</a></li>
    <!-- close the services <li>-->
    <li><a href="games.html">Games</a> </li>
    <li><a href="location.html">Location</a></li>
    <li><a href="showitems.html">Trading Post</a></li>
    <li><a href="contact.html" style="border:none;">
      <!--this gets rid of last divider-->
      Contact</a>
    </li>
  </ul>
  <!--end navigation-->
</div>
<div id="greeting">
{{ greeting|safe }}
</div>
<div id="content">
