{% include "header.html" %}
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<style type="text/css">

#news_column a, #news_column a:link, #news_column a:hover {
    color: #C1242F;
    font-size: 12px;
    text-decoration: none;
    font-family: Arial,Helvetica,sans-serif;
}

#news_column h3{
    font-size: 0px;
}

</style>
         <!--start home content-->
            <div id="left_column_610">
            <div id="banner">
              <div id="banner_border"></div>
              <div id="slider" class="nivoSlider">
                  <a href="#" title=""><img src="images/slideshow/slide1.jpg" alt="" title="1" width="610" height="300" /></a>
                  <a href="#" title=""><img src="images/slideshow/slide2.jpg" alt="" title="2" width="610" height="300" /></a>
                  <a href="#" title=""><img src="images/slideshow/slide3.jpg" alt="" title="3" width="610" height="300" /></a>
                  <a href="#" title=""><img src="images/slideshow/slide4.jpg" alt="" title="4" width="610" height="300" /></a>
                  <a href="#" title=""><img src="images/slideshow/slide5.jpg" alt="" title="5" width="610" height="300" /></a>
              </div>
            </div>
              <!--end banner-->
              <div class="welcome_text">
                <h1> Welcome</h1>
                <p>Sydney Inline Hockey is an informal collective of inline hockey enthusiasts - there is no 
                formal association, money or even a dedicated inline hockey venue behind us, just enthusiam for the sport.
                We welcome all newcomers - whether you're a Canadian backpacker longing for a chance to chase a puck, or an expat Czech keen to strap on some 
                boots and go for a skate, or simply an Aussie local tired of skating in endless circles around
                Centennial park, Sydney Inline Hockey is the panacea for your troubles.</p>
                <p>Inline hockey is the warm weather version of winter's Ice Hockey. Far from being a poor man's 
                version of the real game we play it on the concrete expanses of the Moore Park netball courts, 
                and has its own unique style of gameplay</p>
                <p>It is a fast paced game that is usually played at the courts on Monday evenings 
                (informal unorganized games have been known to occur on Sunday afternoons)
                 with either a ball or a biscuit (puck). The courts are currently unbounded by walls,
                 so the focus of the game is on accurate passing and team work, 
                 as opposed to hero shots at goal and lots of ball chasing.</p>
                <p>If you're tired of being a couch potato on Sunday afternoons, 
                forced to watch endless telecasts of Australian cricketers, 
                or giving your girlfriend endless afternoon foot massages, 
                or simply want to get a bit more use out of those Rollerblades that have been sitting in your 
                cupboard unused for the past 3 years, since the appearance of that evil, 
                sledging Hahn Premium man-blading advertisement, grab a stick and a helmet and be a man (or woman) 
                and come down to the courts to have a hit - all welcome.</p>
              </div>
            </div>
            <!--end left column-->
            <div id="right_column_250">
              <!--start news-->
              <div id="news_column" style="padding:0px 0px 0px 0px;margin-bottom: 0px;">
<!-- twitter widget -->
<a class="twitter-timeline" href="https://twitter.com/inlinehockeysyd" data-widget-id="357302243281747968">Tweets by @inlinehockeysyd</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

              </div>
              <!--end news-->
              <!--start welcome-->
              <!--end welcome-->
            </div>
            <!--end right column-->
            <!--end home content-->

{% include "footer.html" %}
