{% include "header.html" %}
          <div id="content">
            <h1>Boxes/Styles</h1>
            <p>On this page are a number of styles you can copy &amp; paste to any page in your website.</p>
            <h1>Photo Gallery Layout: </h1>
            <p>These boxes can be used for any sort of  photo gallery.</p>
            <ul class="gallery">
              <li class="galleryimage grunge_border_200"> <a href="images/photo1_lg.jpg" class="lightbox"><img src="images/photo1_gallery.jpg" alt="photo" width="200" height="144" border="0" /></a> </li>
              <li class="galleryimage grunge_border_200"> <a href="images/photo2_lg.jpg" class="lightbox"><img src="images/photo2_gallery.jpg" width="200" height="144" alt="photo" /></a> </li>
              <li class="galleryimage grunge_border_200"> <a href="images/photo3_lg.jpg" class="lightbox"><img src="images/photo3_gallery.jpg" width="200" height="144" alt="photo" /></a> </li>
              <li class="galleryimage grunge_border_200"> <a href="images/photo4_lg.jpg" class="lightbox"><img src="images/photo4_gallery.jpg" width="200" height="144" alt="photo" /></a> </li>
              <li class="galleryimage grunge_border_200"> <a href="images/photo4_lg.jpg" class="lightbox"><img src="images/photo4_gallery.jpg" width="200" height="144" alt="photo" /></a> </li>
              <li class="galleryimage grunge_border_200"> <a href="images/photo3_lg.jpg" class="lightbox"><img src="images/photo3_gallery.jpg" width="200" height="144" alt="photo" /></a> </li>
              <li class="galleryimage grunge_border_200"> <a href="images/photo2_lg.jpg" class="lightbox"><img src="images/photo2_gallery.jpg" width="200" height="144" alt="photo" /></a> </li>
              <li class="galleryimage grunge_border_200"> <a href="images/photo1_lg.jpg" class="lightbox"><img src="images/photo1_gallery.jpg" width="200" height="144" alt="photo" /></a> </li>
            </ul>
            <hr class="clear" />
            <p>&nbsp;</p>
            <!--end large box-->


{% include "footer.html" %}
