{% include "header.html" %}

            <div id="left_column_610">
              <h1>News</h1>
              <!--start box 3-->
              <div class="news_box_container" >
                <div class="image"> <img src="images/news/snews_130.jpg" alt="Thumb" width="130" height="130" border="0" /> </div>
                <div class="text">
                  <h2><a href="#">Sunday Daylight Savings</a></h2>
                  <p>Just a reminder that in Sydney we are putting our clocks back an hour. As we have less light for hockey on Sunday afternoon, we'll start from 3pm.</p>
                </div>
                <div class="stats">
                  <ul>
                    <li>March 31, 2012</li>
                  </ul>
                </div>
                <hr class="clear" />
              </div>
              <!--end box 3-->
              <!--start box 2-->
              <div class="news_box_container" >
                <div class="image"> <img src="images/news/knews_130.jpg" alt="Thumb" width="130" height="130" border="0" /> </div>
                <div class="text">
                  <h2><a href="#">Monday Night Competition</a></h2>
                  <p>We are confirmed for another 10 week season at Moore park netball courts starting Monday 30th January, 2012 at 7:30pm. Cost is $60 per season or $10 per week casual, this basically covers the bookings and insurance. Helmets are compulsory, no exceptions, this is a condition of our insurance. We do have some spares we can loan.</p>
                </div>
                <div class="stats">
                  <ul>
                    <li>January 30, 2012</li>
                  </ul>
                </div>
                <hr class="clear" />
              </div>
              <!--end box 2-->
              <!--start box 1-->
                <div class="news_box_container" >
                  <div class="image"> <img src="images/news/fworks_130.jpg" alt="Thumb" width="130" height="130" border="0" /> </div>
                  <div class="text">
                    <h2><a href="#">Sydney Inline Hockey</a></h2>
                    <p>Sydney Inline Hockey now has a website, great news for those people living in Sydney or traveling around Australia and want to know where they can join in the fun.</p>
                  </div>
                  <div class="stats">
                    <ul>
                      <li>January 29, 2012</li>
                    </ul>
                  </div>
                  <hr class="clear" />
                </div>
              <!--end box 1-->



            </div>
            <!--end left column_610-->
            <div id="right_column_250">
              <!--side menu-->
              <div class="side_menu">
                <h2 style="background-position:95px 1px;">Sydney Weather Forecast</h2>
                    {% include "google_weather/weatherforecast.html" %}
              </div>
              <!--end side menu-->
            </div>

{% include "footer.html" %}

