{% include "header.html" %}
          <div id="content">
            <div id="left_column_610">
              <div id="connect_wrapper">
              <h1>Hello {{ username }}, welcome to the Sydney Inline Hockey trading post </h1>
              

                {% for advert in adverts %}
                <div class="news_box_container" >
                <div class="image"> <img src="img?img_id={{ advert.key }}" alt="Thumb" width="130" height="130" border="0" /> </div>
                <div class="text">
                <h2> {{ advert.summary }}</h2>

                {{ advert.description }}
                </div>
                <div class="stats">
                  <ul>
                    <li>posted on {{ advert.date }} by {{ advert.seller }}</li>
                  </ul>
                </div>
                <hr class="clear" />
                </div>
                
                {% endfor %}                
                

                <p>Post your ad here</p>
                    <form action="/sellitem.html" method="post" enctype="multipart/form-data" >
                        <fieldset id="contact_no_map">
                            <label for="summary">Heading:</label>
                            <input type="text" name="summary" type="text" class="forms_no_map" id="summary" size="50" />
                            <div class="clear"></div>
                            <label type="text" for="price">Description:</label>
                            <textarea name="description"  class="forms_no_map" id="price" rows="10" cols="50" >Enter the details of your advertisement here</textarea>
                            <div class="clear" />
                            <label type="text" for="image"Image:</label>
                            <input type="file" name="image" size="40" class="forms_no_map" >
                            <input name="submit_message" type="submit" id="submit_message" class="submit_button" value="Post Ad" />
                        </fieldset>
                    </form>
              </div>
            </div>
            <!--end column 1-->
            <div id="right_column_250">
                <div class="side_menu">
                 </div>
            </div>
            <!--end column 2-->
            <div class="clear"></div>
{% include "footer.html" %}
