{% include "header.html" %}

              <h1>Trading Post- Buy, Sell or Wanted</h1>
              
				{% if adverts.count > 0 %}
				<H2>You can delete any of your previous posts below</H2>
				{% endif %}

                {% for advert in adverts %}
                <div class="news_box_container" >

                {% if advert.image %}
                	<div class="image"> 
                	    <a href="img?img_id={{ advert.key }}">
                	    <img src="thm?img_id={{ advert.key }}" alt="Thumb" width="130" height="130" border="0" /> 
                	    </a>
                	</div>
                 	<div class="text">
                	<h2> {{ advert.summary }}</h2>

                		{{ advert.description }}
                	</div>               
                {% else %}
                 	<div class="text">
                	<h2> {{ advert.summary }}</h2>

                		{{ advert.description }}
                	</div>  

                {% endif %}

                <div class="stats">
                  <ul>
                    <li>posted on {{ advert.date }} by {{ advert.seller }}</li>
                  </ul>                
                </div>

                <hr class="clear" />
                </div>
                    <div class="date">
                	    <form action="/sellitem.html" method="post"  >
                   			<fieldset id="contact_no_map">
                        		<input type="hidden" value="{{ advert.key }}" name="deletead" />
                            	<input name="delete_ad" type="submit" id="submit_message" class="ad_button" value="Delete" />
                    		</fieldset>
                    	</form>
                	</div>
                
                {% endfor %}                
                
                <H2>Post Your Advertisement Here</H2>
                    <form action="/sellitem.html" method="post" enctype="multipart/form-data" >
                        <fieldset id="contact_no_map">
                            <label for="summary">Heading:</label>
                            <input type="text" name="summary" type="text" class="forms_no_map" id="summary" size="60" />
                            <div class="clear"/>
                            <label type="text" for="price">Description:</label>
                            <textarea name="description"  class="forms_no_map" id="price" rows="10" cols="60" >Enter the details of your advertisement here</textarea>
							<div class="clear"/>
                            <label type="text" for="image">Photo to Upload:</label>
                            <input type="file" name="image" size="40" class="forms_no_map" >
                            <div class="clear"/>
                            <input name="submit_message" type="submit" id="submit_message" class="submit_button" value="Post Ad" />
                        </fieldset>
                    </form>

            <!--end column 1-->

            <!--end column 2-->
            <div class="clear"></div>
{% include "footer.html" %}
