{% include "header.html" %}


              
              <h1>Welcome to the Sydney Inline Hockey trading post </h1>
                <p><a href="/sellitem.html">Post your own advertisement</a> - we use Google for authentication, so if you have a
                Google account you're sweet to post. Otherwise you can create an account by following the link.</p>
                

                {% for advert in adverts %}
                
                
                
                
                <div class="news_box_container" >
                
                {% if advert.image %}
                	<div class="image"> <img src="img?img_id={{ advert.key }}" alt="Thumb" width="130" height="130" border="0" /> </div>
                 	<div class="text">
                	<h2> {{ advert.summary }}</h2>

                		{{ advert.description }}
                	</div>               
                {% else %}
                 	<div class="text">
                	<h2> {{ advert.summary }}</h2>

                		{{ advert.description }}
                	</div>  

                {% endif %}

                <div class="stats">
                  <ul>
                    <li>posted on {{ advert.date }} by {{ advert.seller }}</li>
                  </ul>
                </div>
                <hr class="clear" />
                </div>
                
                {% endfor %}                

            <div class="clear"></div>
{% include "footer.html" %}
